[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "== 21.12b0"
click = "~=8.0.3"
ConfigUpdater = "~=3.0.1"
flake8 = "~=3.9.2"
isort = "~=5.9.2"
pytest = "~=6.2.5"
radon = "~=4.1.0"
wheel = "~=0.36.2"

[requires]
python_version = "3.9"
